body{
    background-color: #252530;
}
canvas {
    border-color:solid #c89e22;
    border-radius: 5%;
    background-color: aquamarine;
    border-width:0 10px;
    width: 800px;
    height: 600px;
}
h1{
    color: #c89e22;
}